<%- include('../partials/header'); %>

<main class="main main-home container">
    <h2 class="home-header text-center">
        Welcome to the CSS Color Database
    </h2>
    <img src="/media/R.png" alt="home image" class="img-fluid">
</main>

<%- include('../partials/footer'); %>